* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#griglia {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
}

/*classe da associare a ciascun singolo div creato col js*/
.cell {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px dashed black;
}

/*classe che aggiungo alla singola cella solo nel momento in cui l'utente clicca su quella determinata cella*/
.bg-azzurro {
  background-color: skyblue;
}

/*classi create per fare il bonus */
/*potevo anche riutilizzare la classe .cell tanto per quanto riguarda il livello 1 l'output html è lo stesso*/
.cell-1 {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px dashed black;
}

.cell-2 {
  width: calc(100% / 9);
  height: calc(100% / 9);
  border: 2px dashed black;
}

.cell-3 {
  width: calc(100% / 7);
  height: calc(100% / 7);
  border: 2px dashed black;
}
